h1{
    color: red;
    font-family: 'Rubik Pixels', cursive;
}

p.color-rojo{
    color: red;
}

p.color-verde{
    color: green;
}

img.width-img{
    width: 170px;
}


h1 {
    text-align: center;
    margin: 0;
  }
.tituloPrincipal{
    font-size: 5rem;
}

.segundaPalabra{
    color: black;
}



 /* NAVBAR  */ 
 .navbar.bg-light { 
    background-color: #003366!important;
}

/* Sección Hobbies */

.video{
    margin: 6rem 6rem 6rem 6rem;
}

/* Sección Ubicación */
.mapa{
    margin-top: 6rem;
    margin-right: 6rem;
    margin-bottom: 6rem;
    margin-left: 6rem;
}