h1{
    color: red;
    font-family: 'Rubik Pixels', cursive;
}

p.color-rojo{
    color: red;
}

p.color-verde{
    color: green;
}

img.width-img{
    width: 170px;
}


h1 {
    text-align: center;
    margin: 0;
  }




 /* NAVBAR  */ 
 .navbar.bg-light { 
    background-color: #003366!important;
}